.quote-app {
  font-family: monospace;
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.add-quote {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__button {
    width: 30%;
    margin-top: 10px;
  }
}

.quotes {
  margin-top: 1rem;
  text-align: left;
  list-style: none;
}

.quote-item {
  cursor: pointer;
  line-height: 1.5;
}

.visibility-filters {
  margin: 25px 0;
}

.filter {
  padding: 0.3rem 0;
  margin: 0 0.3rem;
  cursor: pointer;
}

.filter--active {
  border-bottom: 1px solid black;
}